.container {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url("https://lh3.googleusercontent.com/pw/AM-JKLXEPyyr9SYZiLN4fEFLOBHrLmStqhbgSNyRF1HP9e_Bx-A2Joe0rSRwxYefd1VGOcq2t2vcsYcotklyun-hhgYY_DF7QnXJKoX1OddnPVeYsQDJuDIopF6sPQJl1z5mVNJ4LUqd_gzfiAyyiY293r6j=w1489-h838-no?authuser=0f");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 5rem 10rem 1fr 30rem;
  grid-template-columns: 25rem 1fr 1fr 1fr 25rem;
  grid-column-gap: 4rem;
  grid-template-areas:
    ". . . . ."
    ". top . . ."
    ". center center center ."
    ". box1 box2 box3 .";
}
@media screen and (max-width: 2150px) {
  .container {
    grid-template-rows: 5rem 10rem 1fr 20rem;
    grid-template-columns: 18rem 1fr 1fr 1fr 18rem;
    height: 80vh;
  }
}
@media screen and (max-width: 1750px) {
  .container {
    grid-template-rows: 5rem 10rem 12rem 20rem;
    grid-template-columns: 5rem 1fr 1fr 1fr 5rem;
    height: 100vh;
  }
}
@media screen and (max-width: 1450px) {
  .container {
    grid-template-rows: 5rem 10rem 8rem 20rem;
    grid-template-columns: 5rem 1fr 1fr 1fr 5rem;

    grid-template-areas:
      ". . . . ."
      ". top top . ."
      ". center center center ."
      ". box1 box2 box3 .";
  }
}
@media screen and (max-width: 1300px) {
  .container {
    grid-template-rows: 2rem 10rem 1fr 25rem;
    grid-template-columns: 5rem 1fr 1fr 1fr 5rem;
    min-height: 120vh;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    min-height: 185vh;
    grid-template-rows: 2rem 10rem 10rem 20rem 20rem 20rem;
    grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
    grid-template-areas:
      ". . . . ."
      ". top top . ."
      ". center center . ."
      ". box1 box1 . ."
      ". box2 box2 . ."
      ". box3 box3 . .";
  }
}
@media screen and (max-width: 950px) {
  .container {
    grid-template-columns: 1rem 1fr 1fr 1fr 1rem;

    grid-column-gap: 1rem;
    background-position: 25% 50%;
    grid-template-areas:
      ". . . . ."
      ". top top top ."
      ". center center . ."
      ". box1 box1 box1 ."
      ". box2 box2 box2 ."
      ". box3 box3 box3 .";
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-rows: 2rem 20rem 10rem 22rem 22rem 22rem;
  }
}
@media screen and (max-height: 600px) {
  .container {
    min-height: 240vh;
    grid-template-rows: 2rem 10rem 1fr 25rem;
  }
}
