.container {
  padding: 5rem 0;
  margin: 0 35rem;
}
.header {
  margin: 0 0 3rem 0;
  font-size: 2rem;
  color: var(--header);
}
.text {
  font-size: 1.2rem;
  color: rgb(146, 146, 146);
}
@media screen and (max-width: 1990px) {
  .container {
    margin: 0 25rem;
  }
}
@media screen and (max-width: 1700px) {
  .container {
    margin: 0 15rem;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    padding: 8rem 0 5rem 0;
  }
}
@media screen and (max-width: 1300px) {
  .container {
    margin: 0 10rem;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    margin: 0 2rem;
    padding: 3rem 0;
  }
}
