@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

:root {
  /* --primary: #fef9c7; */
  --primary: #455568;
  --secondary: #14a76c;
  --primary-background: #1f1f1f;
  --primary-background2: #00000059;

  --footer-primary: #272727;
  --footer-text: #ffe400;
  --footer-header: #ff622f;

  --text-image-section: rgb(247, 239, 228);
  --text-footer: #068fd4;
  --header: #455568;
  --text: rgb(85, 85, 85);

  --start-page-red: #c3073f;
  --start-page-yellow: #f06334;

  /*********** Prosjekter ***********/
  --prosjekt-header: #fff;
  /*********** Margins ***********/

  --page-margin: 0 30rem;
  --page-margin2: 0 17rem;
  --page-margin3: 0 15rem;
  --page-margin4: 0 5rem;
  --page-margin5: 0 0.5rem;

  /*********** Margins single ***********/

  --page-margin-single: 0 45rem;
  --page-margin-single2: 0 30rem;
  --page-margin-single3: 0 20rem;
  --page-margin-single4: 0 10rem;
  --page-margin-single5: 0 1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: var(--primary);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.btn2 {
  border: none;
  width: 15rem;
  height: 4rem;
  background: rgb(35, 88, 156);
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1rem;
  transition: 0.5s;
  outline: none;
}
.btn2:hover {
  background: rgb(53, 114, 194);
  cursor: pointer;
}
.logo-font {
  font-family: "Poiret One";
  font-size: 2rem;
  margin: 0;
  color: rgb(156, 173, 223);
  font-style: normal;
  font-weight: normal;
}
p {
  font-size: 1.2rem;
  font-weight: 300;
}

.header {
  color: var(--header);
}
