@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap");
:root {
  --primary: rgb(247, 239, 228);
  --primary-background: rgb(34, 76, 124);
  --text-image-section: rgb(247, 239, 228);
  --text-footer: #333;
  --header: rgb(109, 109, 109);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Rajdhani", sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
.btn {
  width: 15rem;
  height: 2.8rem;
  border: 1px solid var(--text-image-section);
  border-radius: 10rem;
  transition: 0.5s;
  color: var(--text-image-section);
  background-color: transparent;
  font-size: 1rem;
  outline: none;
}
.btn:hover {
  background-color: rgb(185, 226, 241);
  cursor: pointer;
}
.btn2 {
  border: none;
  width: 15rem;
  height: 4rem;
  background: rgb(35, 88, 156);
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1rem;
  transition: 0.5s;
  outline: none;
}
.btn2:hover {
  background: rgb(53, 114, 194);
  cursor: pointer;
}
p {
  font-size: 1rem;
}
.text {
  font-size: 1.2rem;
}
.header {
  color: var(--header);
}
